<br><br>
<div class="container-lg border text-center">
  <div class="row">
    <div class="col">

      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/chiles2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Chiles en Nogada</h5>
        </div>
          <div class="mybtn">
            
          <a href="#" class="btn btn-success ">Ver receta</a>
        </div>
        </div>
      </div>

    </div>

    <div class="col">

      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/chiles2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Chiles en Nogada</h5>
        </div>
          <div class="mybtn">
            
          <a href="#" class="btn btn-success ">Ver receta</a>
        </div>
        </div>
      </div>

    </div>

    <div class="col">

      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/chiles2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Chiles en Nogada</h5>
        </div>
          <div class="mybtn">
            
          <a href="#" class="btn btn-success ">Ver receta</a>
        </div>
        </div>
      </div>

    </div>

    <div class="col">

      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/chiles2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Chiles en Nogada</h5>
        </div>
          <div class="mybtn">
            
          <a href="#" class="btn btn-success ">Ver receta</a>
        </div>
        </div>
      </div>

    </div>

  </div>
</div>



<!-- <div class="card" style="width: 18rem;">
  <img src="../../../assets/imagenes/Comida Mexicana/chiles2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <div class="titulos">
    <h5 class="card-title">Chiles en Nogada</h5>
  </div>
    <div class="mybtn">
      
    <a href="#" class="btn btn-success ">Ver receta</a>
  </div>
  </div>
</div> -->