.mybtn{
    text-align:center;
    height: 40px;

    }

.titulos{
    text-align:center;
}    

.letra{
    font-family: merienda;
}
.cardletra{
    font-family: corbel;
}

.color{
    background-color: #000000;
}



