<app-navbar></app-navbar>
<h1 class="text-center">Comida Mexicana</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/chiles2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Chiles en Nogada</h5>
        </div>
          <div class="mybtn"> 
          <a routerLink="/chiles" class="btn btn-success ">Ver receta</a>
        </div>  
      </div>
    </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/arroz con leche.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Arroz con leche</h5>
        </div>
          <div class="mybtn"> 
          <a routerLink="/chiles" class="btn btn-success ">Ver receta</a>
        </div>  
      </div>
    </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/asado verde.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Asado verde</h5>
        </div>
          <div class="mybtn"> 
          <a routerLink="/chiles" class="btn btn-success ">Ver receta</a>
        </div>  
      </div>
    </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/enchiladas potosinas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Enchiladas potosinas</h5>
        </div>
          <div class="mybtn"> 
          <a routerLink="/chiles" class="btn btn-success ">Ver receta</a>
        </div>  
      </div>
    </div>
    </div>

    
  </div>
<br>

  <div class="row">
    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/aa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Cochinita Pibil</h5>
        </div>
          <div class="mybtn"> 
          <a routerLink="/chiles" class="btn btn-success ">Ver receta</a>
        </div>  
      </div>
    </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/buñuelos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Buñuelos</h5>
        </div>
          <div class="mybtn"> 
          <a routerLink="/chiles" class="btn btn-success ">Ver receta</a>
        </div>  
      </div>
    </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/churros.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Churroz de azúcar</h5>
        </div>
          <div class="mybtn"> 
          <a routerLink="/chiles" class="btn btn-success ">Ver receta</a>
        </div>  
      </div>
    </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/enchiladas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Enchiladas Rojas</h5>
        </div>
          <div class="mybtn"> 
          <a routerLink="/chiles" class="btn btn-success ">Ver receta</a>
        </div>  
      </div>
    </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/gorditas nata.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Gorditas de nata</h5>
        </div>
          <div class="mybtn"> 
          <a routerLink="/chiles" class="btn btn-success ">Ver receta</a>
        </div>  
      </div>
    </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/gorditas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Gorditas tradicionales</h5>
        </div>
          <div class="mybtn"> 
          <a routerLink="/chiles" class="btn btn-success ">Ver receta</a>
        </div>  
      </div>

    </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/mole.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Mole poblano</h5>
        </div>
          <div class="mybtn"> 
          <a routerLink="/chiles" class="btn btn-success ">Ver receta</a>
        </div>  
      </div>

    </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/pozole.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Pozole</h5>
        </div>
          <div class="mybtn"> 
          <a routerLink="/chiles" class="btn btn-success ">Ver receta</a>
        </div>  
      </div>
    </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/chiles2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Chiles en Nogada</h5>
        </div>
          <div class="mybtn"> 
          <a routerLink="/chiles" class="btn btn-success ">Ver receta</a>
        </div>  
      </div>
    </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/arroz con leche.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Chiles en Nogada</h5>
        </div>
          <div class="mybtn"> 
          <a routerLink="/chiles" class="btn btn-success ">Ver receta</a>
        </div>  
      </div>
    </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/asado verde.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Chiles en Nogada</h5>
        </div>
          <div class="mybtn"> 
          <a routerLink="/chiles" class="btn btn-success ">Ver receta</a>
        </div>  
      </div>
    </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img src="../../../assets/imagenes/Comida Mexicana/enchiladas potosinas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="titulos">
          <h5 class="card-title">Chiles en Nogada</h5>
        </div>
          <div class="mybtn"> 
          <a routerLink="/chiles" class="btn btn-success ">Ver receta</a>
        </div>  
      </div>
    </div>
    </div>

    
  </div>
</div>
