<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <div class="titulos">
<h1>Comida Mexicana</h1>
</div>





<div class="container" >
  <div class="row">
<div class="col-md-12 mx-auto">
<div class="card" style="width: 18rem;">
    <img src="../../../assets/imagenes/Comida Mexicana/chiles2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="titulos">
      <h5 class="card-title">Chiles en Nogada</h5>
    </div>
      <div class="mybtn">
        
      <a href="#" class="btn btn-success ">Ver receta</a>
    </div>
    </div>
  </div>
</div>
</div>
<div class="row">
<div class="col-md-4 mx-auto">
  <div class="card" style="width: 18rem;">
      <img src="../../../assets/imagenes/Comida Mexicana/asado verde.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="titulos">
        <h5 class="card-title">Chiles en Nogada</h5>
      </div>
        <div class="mybtn">
        <a href="/src/app/Component/mexicana/" class="btn btn-success ">Ver receta</a>
      </div>
    </div>
      </div>
    </div>
  
  </div>

</div>