.background {
    background-size:  cover;
    background-position: center center;
    background-attachment:fixed;
    min-height: 100%;
    background-image: url("../../../assets/imagenes/fondo-principal2.png"); 
    overflow-x: hidden;
}