/* You can add global styles to this file, and also import other style files */
/* Tipografias */
@font-face {
    font-family: corbel;
    src: url("/src/assets/font-family/Corbel.ttf");
}

@font-face {
    font-family: corbel-bold;
    src: url("/src/assets/font-family/CorbelBold.ttf");
}

@font-face {
    font-family: merienda;
    src: url("/src/assets/font-family/Merienda-Regular.ttf");
}

@font-face {
    font-family: clarkson;
    src: url("/src/assets/font-family/ClarksonScript-Regular.ttf");
}


