
<div class="fondo">
    <div class="container"><br>
        <div class="row">
            <div class="col text-start">
                <h2 class="text-white"><b>Easy Kitchen</b></h2>
            </div>

            <div class="col text-end sm-9">
                <button type="button" class="btn text-white"><b>Iniciar sesion</b> </button>
                <button type="button" class="btn bg-white"><b>Registrarme</b></button>
            </div>
        </div>

        <br><br>

        <div class="row text-center">
            <div class="col">
                <img src="../../../assets/imagenes/Logo.png" alt="" width="280px"> 
            </div>
        </div>
        
        <div class="row text-center">
            <div class="col">
                <h3 class="text-white" style="font-family: merienda;">El mejor ingrediente para la receta es <br> la imaginacion</h3>
                <hr style="color: #f3f400; height: 5px; width: 50%; margin: auto;">
            </div>
        </div>
    </div>
    <div class="vacio">
        <div class="container">
    
            
        </div>
        
    </div> 

    <div class="text-center"><img src="../../../assets/imagenes/triangulo.png" alt="" width="150px" height="55px"></div>
    <div class="contenedor">

    </div>
</div>

