.background {
    background-repeat: no-repeat;
    background-image: url("../../../../assets/imagenes/q.jpg");
    min-height: 100%;
    min-width: 800px;
    /* Escalamiento proporcional */
    width: 100%;
    height: auto;
    /* Posicionamiento */
    position: fixed;
    top: 0;
    left: 0;
}
.ingredientes {
    margin-left: 842px;
}
