<div class="background"></div>

      <div class="container">
        <div class="row">
            <div class="offset-lg-6 col-5">
                <h2>Chiles Rellenos</h2>
            </div>
            </div>
          <div class="row"> 
              <div class="col-md-12">
      <div class="card" style="width: 30rem;" >
    <img src="../../../../assets/imagenes/Comida Mexicana/chiles2.jpg" class="card-img-top" height="400px;" alt="..."  routerLink="#">
   
</div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Método de preparación
            Para el relleno, calentar el aceite en una sartén grande, sofreír la cebolla y el ajo hasta que queden transparentes. Agregar la carne y cocinar hasta que tome color.
            Agregar la manzana, pera, pasas, piñones y mezcla de condimentos. Sazonar con el Knorr® Caldo de Costilla incorporando todos los ingredientes Cocinar 3 min.
            Mezclar Knorr® Tomate Deshidratado con el agua y combinarlo en la preparación anterior. Dejar que se integren todos los ingredientes y que se espese ligeramente. Aprox 3 minutos más.
            Para la Nogada, licuar la nuez, azúcar, nuez moscada y crema. Si es necesario, agregar un poquito de leche descremada para obtener una consistencia más ligera.
            Rellenar los chiles repartiendo uniformemente la carne en las 6 piezas.
            Servir el chile bañado parcialmente con la nogada, esparcir la granada encima y decorar con las hojas de perejil.
            Para conservar la nuez de castilla sin que se ponga obscura, remoja en leche hasta que la utilices.
            Para preparar la nogada en otra temporada que no hay nuez de Castilla, puedes usar almendras peladas y molidas que le darán un sabor delicioso.</p>
    </div>
</div>
</div>

 
