<div class="background">
            <div class="container">
                <h2>Chiles Rellenos</h2>
                <div class="row">
                    <div class="col">
                        <h3 class="ingredientes">Ingredientes</h3> <br>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col">
            <div class="card" style="width: 28rem;" >
          <img src="../../../../assets/imagenes/Comida Mexicana/chiles2.jpg" class="card-img-top" height="340px;" alt="..."  routerLink="#">
     </div>
      </div>

     <div class="col">
             
                <p> 1 cucharada de KNORR® Caldo de costilla <br>
            3 cucharadas de aceite vegetal<br>
            1/4 de cebolla finamente picada<br>
            1 diente de ajo<br>
            200 gramos de carne molida de res<br>
            200 gramos de carne molida de cerdo<br>
            1 cucharada de piñones blancos o rosados<br>
              </div>
              <br>
              <div class="col">
            1/2 cucharadita de mezcla en partes iguales de pimienta negra, comino, canela, pimienta gorda y clavo en polvo<br>
            300 gramos de nuez de Castilla<br>
            1 cucharada de azúcar<br>
            1 pizca de nuez moscada en polvo<br>
            1/4 taza de crema reducida en grasa<br>
            1 cucharada de perejil para decorar
                 </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
               <h4> Método de preparación</h4>
               <br>
              <p>
                Para el relleno, calentar el aceite en una sartén grande, sofreír la cebolla y el ajo hasta que queden transparentes. Agregar la carne y cocinar hasta que tome color.
                Agregar la manzana, pera, pasas, piñones y mezcla de condimentos.<br> Sazonar con el Knorr® Caldo de Costilla incorporando todos los ingredientes Cocinar 3 min.
                Mezclar Knorr® Tomate Deshidratado con el agua y combinarlo en la preparación anterior. Dejar que se integren todos los ingredientes y que se espese ligeramente. Aprox 3 minutos más.
                Para la Nogada, licuar la nuez, azúcar, nuez moscada y crema. <br>Si es necesario, agregar un poquito de leche descremada para obtener una consistencia más ligera.
                Rellenar los chiles repartiendo uniformemente la carne en las 6 piezas.<br>
                Servir el chile bañado parcialmente con la nogada, esparcir la granada encima y decorar con las hojas de perejil.
                Para conservar la nuez de castilla sin que se ponga obscura, remoja en leche hasta que la utilices.
                Para preparar la nogada en otra temporada que no hay nuez de Castilla, puedes usar almendras peladas y molidas que le darán un sabor delicioso.
              </p>  
            </div>
        </div>
      </div>
     
    </div> 
         

 
